@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-around;
}

.logo {
    display: flex;
    font-size: 5vh;
}

.logo-img {
    height: 20vh;
    margin: 0 2vw;
}

.no-style {
    text-decoration: none;
    color: black;
}

h1, h2, h3, button {
    font-family: 'Bangers', cursive;
}

button {
    border-radius: 5px;
    border: 3px solid black;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 3rem;
}

button:hover {
    background-color: black;
    color: white;
}

p, li {
    font-family: 'Fredoka', sans-serif;
}

.big-button {
    padding: 10px 20px;
    font-size: 3rem;
}

header {
    padding: 2vh;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}