@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-around;
}

.logo {
    font-family: 'Bangers', cursive;
    display: flex;
    font-size: 5vh;
}

.logo-img {
    height: 20vh;
    margin: 0 2vw;
}

.heading {
    font-family: 'Bangers', cursive;
    text-decoration: none;
    color: black;
}

button {
    font-family: 'Bangers', cursive;
    border-radius: 5px;
    border: 3px solid black;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 3rem;
}

button:hover {
    background-color: black;
    color: white;
}

.text-body {
    font-family: 'Fredoka', sans-serif;
}

.big-button {
    padding: 10px 20px;
    font-size: 3rem;
}