.quiz-buttons {
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
}

.quiz-button {
    margin: 3vh 3vw;
}

.results-button {
    margin: 25vh 0;
    font-size: 6rem;
}

.no-result-container {
    text-align: center;
    margin-bottom: 10vh;
}

.no-result-message {
    margin-bottom: 8vh;
}

@media (min-width: 2000px) {
    .quiz-buttons {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .results-button {
        font-size: 5rem;
    }
}

@media (max-width: 475px) {
    .results-button {
        font-size: 3rem;
    }
}